<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<div class="container">
    <div th:include="/navbar.html"></div>
    <h5>Registration Page</h5>

    <div th:each="msg : ${msg}">
        <span th:text="${msg}"></span>
    </div>

    <br>

    <form th:object="${person}" th:action="save" method="post" class="col s12">

        <div class="section">

            <h6>Personal Data :</h6>

            <div class="row">
                <div class="input-field col s6">
                    <label>Name :</label>
                    <input type="text" name="name" id="person-name" th:field="*{name}" placeholder="Type person name">
                </div>
                <div class="input-field col s6">
                    <label>LastName : </label>
                    <input type="text" name="lastName" id="person-lastname" th:field="*{lastName}"
                           placeholder="Type person last name">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="input-field col s6">
                    <label>Age : </label>
                    <input type="text" name="age" id="person-age" th:field="*{age}" placeholder="Type person age">
                </div>
                <div class="input-field col s6">
                    <label class="active">Occupation : </label>
                    <select th:field="*{occupation}" class="browser-default">
                        <option th:each="o : ${occupations}" th:value="${o.id}" th:text="${o.name}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label class="active">Gender : </label>
                    <select th:field="*{gender}" class="browser-default">
                        <option value="" disabled="disabled" selected="selected">--[Select]--</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <label for="birthDate">Birth Date : </label>
                    <input type="text" name="birthDate" id="birthDate" th:field="*{birthDate}"
                           placeholder="Type the birth date">
                </div>
            </div>
        </div><!--END DIV SECTION -->

        <div class="divider"></div>

        <div class="section">
            <h6>Adress :</h6>

            <br> <br>

            <div class="row">
                <div class="input-field col s6">
                    <label>Cep : </label>
                    <input type="text" name="cep" id="cep" th:field="*{cep}" placeholder="Type a valid CEP">
                </div>
                <div class="input-field col s6">
                    <label>Street : </label>
                    <input type="text" name="rua" id="rua" th:field="*{rua}"
                           placeholder="Automatically generated">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label>District : </label>
                    <input type="text" name="bairro" id="bairro" th:field="*{bairro}"
                           placeholder="Automatically generated">
                </div>

                <div class="input-field col s6">
                    <label>City : </label>
                    <input type="text" name="cidade" id="cidade" th:field="*{cidade}"
                           placeholder="Automatically generated">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <label>UF : </label>
                    <input type="text" name="uf" id="uf" th:field="*{uf}"
                           placeholder="Automatically generated">
                </div>

                <div class="input-field col s6">
                    <label>IBGE : </label>
                    <input type="text" name="ibge" id="ibge" th:field="*{ibge}"
                           placeholder="Automatically generated">
                </div>
            </div>

            <div class="row">
                <button type="submit" name="button" class="btn waves-effect waves-light">Save</button>

                <button type="reset" class="btn waves-effect waves-light">Clean</button>
            </div>
        </div> <!--END DIV SECTION -->
    </form>

    <br/>

    <fieldset>
        <legend>Search label</legend>
        <div class="row">
            <form th:action="search" id="formsearch" method="post">

                <div class="input-field col s6">
                    <label for="research">Search by name : </label> <input
                        type="text" name="research" id="research" class="validate"
                        th:value="${research}">
                </div>

                <div class="input-field col s6">
                    <label for="genderSearch" class="active">Search by Gender :</label>
                    <select class="browser-default" id="genderSearch" name="genderSearch" th:value="${genderSearch}">
                        <option value="">---Choose---</option>
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                    </select>
                </div>

                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light">Search</button>
                    <a href="/register/listperson" class="btn waves-effect waves-light">List Persons</a>
                </div>
            </form>
        </div>
    </fieldset>

    <br/>

    <table class="striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tr th:each="p : ${peoplelist}">
            <td th:text="${p.id}"></td>
            <td><a th:href="@{/phones/{personid}(personid=${p.id})}">
                <span th:text="${p.name}"></span>
            </a></td>
            <td th:text="${p.lastName}"></td>
            <td><a th:href="@{/person/edit/{personid}(personid=${p.id})}">Edit</a></td>
            <td><a th:href="@{/person/delete/{personid}(personid=${p.id})}">Delete</a></td>
        </tr>
    </table>

    <div class="row" style="margin-top: 30px;" id="pagination-link">
			<span th:if="${peoplelist.hasPrevious()}"> <a
                    th:href="@{/person/page(page = ${peoplelist.number - 1}, size = ${peoplelist.size})}">Previous</a>
			</span>
        <th:block
                th:each="i : ${#numbers.sequence(0, peoplelist.totalPages - 1)}">
            <a
                    th:href="@{/person/page(page=${i}, size = ${peoplelist.size})}">
                [[ ${i} + 1 ]] </a>
        </th:block>
        <span th:if="${peoplelist.hasNext()}"> <a
                th:href="@{/person/page(page = ${peoplelist.number+1}, size = ${peoplelist.size})}">Next</a>
			</span>
    </div>

    <div th:include="/footer.html"></div>
</div>

<script>
    $(document).ready(
        function () {
            // load the datepicker
            $('.datepicker').datepicker({
                format: "mm-dd-yyyy"
            });

            function cleanForm() {
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }

            $("#cep").blur(
                function () {

                    var cep = $(this).val().replace(/\D/g, '');

                    if (cep != "") {
                        var validacep = /^[0-9]{8}$/;

                        if (validacep.test(cep)) {

                            $("#rua").val("...");
                            $("#bairro").val("...");
                            $("#cidade").val("...");
                            $("#uf").val("...");
                            $("#ibge").val("...");

                            $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?",
                                function (dados) {
                                    if (!("erro" in dados)) {
                                        $("#rua").val(dados.logradouro);
                                        $("#bairro").val(dados.bairro);
                                        $("#cidade").val(dados.localidade);
                                        $("#uf").val(dados.uf);
                                        $("#ibge").val(dados.ibge);
                                    } else {
                                        //cannot found CEP
                                        cleanForm();
                                        alert("CEP not found.");
                                    }
                                });
                        } else {
                            //invalid CEP
                            cleanForm();
                            alert("Invalid cep format");
                        }
                    } else {
                        cleanForm();
                    }
                });
        });
</script>

</body>
</html>