<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Phones</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<div class="container">
  <div th:include="/navbar.html"></div>
  <h5>Phones</h5>
  <div class="row">
    <form th:action="@{save/{idperson} (idperson = ${person.id}) }" method="post" class="col s12">

      <div class="row">
        <div class="input-field col s6">
          <label class="active" for="number"> Number :</label>
          <input type="text" maxlength="12" id="number" name="number">
        </div>
        <div class="input-field col s6">
          <label class="active" for="type"> Type :</label>
          <input type="text" id="type" name="type">
        </div>
        <input type="submit" value="Save" class="waves-effect waves-light btn">
      </div>
    </form>
  </div>

  <br> <br>

  <h3>Registered Phones</h3>
  <table class="striped">
    <thead>
    <tr>
      <th>Number</th>
      <th>Type</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tr th:each="p : ${phones}">
      <td th:text="${p.number}"></td>
      <td th:text="${p.type}"></td>
      <td> <a th:href = "@{/phones/delete/{idphone} (idphone = ${p.id}) }" >Delete</a> </td>
    </tr>
  </table>
  <div th:include="/footer.html"></div>
</div>
</body>
</html>