<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <style type="text/css">
        h5 {
            text-align: center;
        }
        .page-footer {
            background-color: #2eaa92;
        }
    </style>
</head>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">Project created with the objective of improving my knowledge in java using the whole spring ecosystem, as well as tools and technologies used in web development, such as: JavaScript, HTML, CSS, Thymeleaf, Maven, Materialize, JDBC, PostgreSQL database, and much more others. </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacts</h5>
                <ul>
                    <li> <img src="https://image.flaticon.com/icons/png/512/25/25231.png" width="20px"> <a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                    <li> <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG38.png" width="20px" >  <a class="grey-text text-lighten-3" href="#!">LinKedIn</a></li>
                    <li> <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" width="20px" > <a class="grey-text text-lighten-3" href="#!">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" style="text-align : center;">
            © Creative Commons Zero v1.0 Universal
        </div>
    </div>
</footer>
</body>
</html>