<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <h2>Welcome to my application</h2>
    <h3>Feel free to explore!</h3>

    <a href="/login" class="btn">Login</a>

    <br><br>
    <h3>Technologies</h3>

    <ul class="collection with-header">
        <li class="collection-header"><h4>Backend</h4></li>
        <li class="collection-item">Spring boot</li>
        <li class="collection-item">Spring security</li>
        <li class="collection-item">Spring Data JPA</li>
        <li class="collection-item">Spring validations</li>
        <li class="collection-item">H2 Database</li>
        <li class="collection-item">Jasper Reports</li>
    </ul>

    <ul class="collection with-header">
        <li class="collection-header"><h4>Frontend</h4></li>
        <li class="collection-item">HTML5</li>
        <li class="collection-item">Thymeleaf</li>
        <li class="collection-item">Javascript</li>
        <li class="collection-item">JQuery</li>
        <li class="collection-item">Materialize Design</li>
    </ul>

</div>
</body>
</html>