<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .nav-wrapper{
            background-color: #2eaa92;
        }

        .brand-logo{
            margin-left : 15px;
        }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">EW</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Index</a></li>
            <li><a href="">Register</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </div>
</nav>
</body>
</html>